<div class="panel panel-default" style="margin-top: 30px;">
  <div class="panel-heading">About</div>
  <div class="panel-body">
    <div class="text-center">

      <a class="btn btn-default" href="https://github.com/trance-with-me/numa-angularjs-client">
        <i class="ion-social-github"></i> GitHub project
      </a>
      <a class="btn btn-default" href="https://github.com/trance-with-me/numa-angularjs-client/issues/new">
        <i class="ion-bug"></i> Report issue
      </a>
    </div>
  </div>
</div>