<div class='form-group'style='height: 100%;'>
  <div class='poem-title' contenteditable='true' ng-model='title' strip-br='true' select-non-editable='true'></div>
  <textarea class='form-control poem-body' ng-model='poem' rows='20' cols='20'></textarea>
  <div style='padding-top: 15px;'>
    <div selectize='tagConfig' options='tagOptions' ng-model='tags' required></div>
  </div>
  <div style='padding-top: 10px;'>
    <button type='button' class='btn btn-lg btn-block btn-primary pull-right' ng-click='savePoem()'>Save</button>
  </div>
</div>