<div class='form-group'style='height: 100%;'>
  <div class='poem-title' contenteditable='true' ng-model='title' strip-br='true' select-non-editable='true'></div>
  <textarea class='form-control poem-body' ng-model='poem' rows='20' cols='20' autofocus required></textarea>

  <div class="poem-image-widget">

    <h3>Tag your poem</h3>
    <div selectize='tagConfig' style="-webkit-border-radius: 0; border-radius: 0" options='tagOptions' ng-model='tags' required></div>

    <hr>

    <h3>Add a YouTube or Vimeo video</h3>
    <input class="input-sm form-control" type="text" ng-model="videoUrl" placeholder="Add a YouTube or Vimeo URL."/>

    <hr>

    <h3>Add an image</h3>
    <div flow-init="{singleFile:true}">
      <div class="drop" flow-drop ng-class="dropClass">
        <div ng-show="!$flow.files.length">
          <span class="btn btn-default" flow-btn>Select an image</span>
          <b>OR</b>
          Drag And Drop your image here
        </div>
        <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>
          Change
        </span>
        <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel();">
          Remove
        </span>
      </div>
      <small>Only PNG, GIF, JPG, and JPEG are allowed please.</small>

      <div ng-show="$flow.files.length">
        <div class="poem-image-thumbnail" >
          <img class="img-responsive" flow-img="$flow.files[0]" style="border-radius: 10px;"/>
        </div>
      </div>

      <button type='button' class='btn btn-lg btn-block btn-primary' ng-click='savePoemAndImage($flow.files)'
        style="margin-top: 30px;">Save</button>
    </div>
  </div>
</div>