<div class="form-group"style="height: 100%;">
  <div class="poem-title" contenteditable="true" ng-model="title" strip-br="true" select-non-editable="true"></div>
  <textarea class="form-control poem-body" ng-model="poem" rows="20" cols="20" style="white-space: pre-line;" autofocus></textarea>


  <div class="poem-image-widget">

    <h3>
      <span ng-if="tags">Change your tags</span>
      <span ng-if="!tags">Tag your poem</span>
    </h3>
    <div selectize='tagConfig' options='tagOptions' ng-model='tags' required></div>

    <hr>

    <h3>
      <span ng-if="videoUrl">Change your video link</span>
      <span ng-if="!videoUrl">Add a YouTube or Vimeo video<span>
    </h3>
    <input class="input-sm form-control" type="text" ng-model="videoUrl" placeholder="Add a YouTube or Vimeo URL."/>

    <hr>

    <input type="checkbox" ng-model="toPublish">
    Publish to feed

    <hr>

    <h3>
      <span ng-if="imageUrl">Change or remove your image</span>
      <span ng-if="!imageUrl">Add an image</span>
    </h3>
    <div flow-init="{singleFile:true}">
      <div class="drop" flow-drop ng-class="dropClass">
        <div ng-show="!$flow.files.length">
          <span class="btn btn-default" flow-btn>Select an image</span>
          <b>OR</b>
          Drag And Drop your image here
        </div>
        <span class="btn btn-info" ng-show="$flow.files.length" flow-btn>
          Change
        </span>
        <span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel();">
          Cancel
        </span>
      </div>
      <small>Only PNG, GIF, JPG, and JPEG are allowed.</small>

      <div ng-if="imageUrl" ng-hide="$flow.files.length" style="padding-top: 15px; padding-bottom: 15px;">
        <span class="btn btn-sm btn-danger" ng-click="removeImage()">
          Remove
        </span>
      </div>

      <div ng-show="!$flow.files.length && imageUrl">
        <div class="poem-image-thumbnail" style="margin-top: 30px;">
          <img class="img-responsive" ng-src="{{ imageUrl }}" style="border-radius: 10px;"/>
        </div>
      </div>

      <div ng-show="$flow.files.length" style="margin-top: 30px;">
        <div class="poem-image-thumbnail">
          <img class="img-responsive" flow-img="$flow.files[0]" style="border-radius: 10px;"/>
        </div>
      </div>

      <button type='button' class='btn btn-lg btn-block btn-primary' ng-click='updatePoemAndImage($flow.files)'
        style="margin-top: 30px;">Update</button>
    </div>
  </div>
</div>