<div class="row feed-container">
  <div class="row">
    <div class="welcome-title hidden-xs" style="padding-top: 10px; ">
      Welcome to Numa
      <img src="../images/quill_orange.png" align="top">
    </div>
  </div>

  <div class="row search-container">
    <form class="form-search">
      <div class="form-group has-feedback">
        <input class="form-control input-sm" type="text" ng-model="query" placeholder="Search" autofocus required>
        <i class="ion-search form-control-feedback" style="font-size: 20px; top: 1px;"></i>
        <input type="checkbox" ng-model="searchByTag">&nbsp; Search by tag &nbsp;
        <input type="checkbox" ng-model="searchByTitle">&nbsp; Search by title
      </div>
    </form>
  </div>

  <!-- <div style="padding-top: 15px;"> -->
    <div class="post row fadeInAndOutAnimation" dir-paginate="poem in poems | filter:poemSearch | itemsPerPage: poemsPerPage" total-items="totalPoems">
      <div class="col-xs-1">
        {{ $index+1 }}
      </div>
      <div class="col-xs-10">
        <div class="feed-poem-title">
          <a ng-href="/#!/poem/{{ poem.id }}" style="color: black; text-decoration: none;">
            {{ poem.title }}
          </a>
        </div>
        <div class="feed-poem-info">
          <span>{{ poem.positiveVotes - poem.negativeVotes }}</span>
          <span ng-show="(poem.positiveVotes - poem.negativeVotes) == 1 || (poem.positiveVotes - poem.negativeVotes) == -1">point</span>
          <span ng-show="(poem.positiveVotes - poem.negativeVotes) != 1 && (poem.positiveVotes - poem.negativeVotes) != -1">points</span>
          <span> ⋅ by <a ng-href="/#!/user/{{ poem.creator.id }}">{{ poem.creator.displayName }}</a></span>
          <span> ⋅ {{ timeSince(poem.createdAt)}} ago</span>
          <span> ⋅ {{ poem.numberOfComments }} comments</span>
        </div>
      </div>
    </div>

    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPage)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
<!-- </div> -->