<form class="form-search">
  <div class="form-group has-feedback">
    <input class="form-control input-sm" type="text" ng-model="search" placeholder="Search" autofocus required>
    <i class="ion-search form-control-feedback"></i>
  </div>
</form>
<div masonry>
  <div class="post row masonry-brick fadeOutAnimation" ng-repeat="poem in poems | filter:search">
    <div class="col-xs-1">
      {{ $index+1 }}
    </div>

    <!-- <div class="col-xs-1">
      <div>
        <span class="vote">
          <i class="ion-arrow-up-a" ng-click="changeVote(vote, 'up')" ng-class="{true:'up', false:''}[vote=='up']"></i>
        </span>
      </div>
      <div>
        <span class="vote">
          <i class="ion-arrow-down-a" ng-click="changeVote(vote, 'down')" ng-class="{true:'down', false:''}[vote=='down']"></i>
        </span>
      </div>
    </div> -->

    <div class="col-xs-10">
      <div class="feed-poem-title">
        <a ng-href="/#!/poem/{{ poem.id }}" style="color: black; text-decoration: none;">
          {{ poem.title }}
        </a>
      </div>
      <div class="feed-poem-info">
        <span>{{ poem.positiveVotes - poem.negativeVotes }}</span>
        <span ng-show="(poem.positiveVotes - poem.negativeVotes) == 1 || (poem.positiveVotes - poem.negativeVotes) == -1">point</span>
        <span ng-show="(poem.positiveVotes - poem.negativeVotes) != 1 && (poem.positiveVotes - poem.negativeVotes) != -1">points</span>
        <span> ⋅ by <a ng-href="/#!/user/{{ poem.creator.id }}">{{ poem.creator.displayName }}</a></span>
        <span> ⋅ {{ timeSince(poem.createdAt)}} ago</span>
        <span> ⋅ {{ poem.numberOfComments }} comments</span>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>