<div class="center-form panel expanded">
  <div class="panel-body">

    <!-- PROFILE VIEW -->
    <div ng-hide="editorEnabled">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h2>{{ displayName }}</h2>
        </div>
        <div class="col-xs-12 col-sm-4">
            <!-- http://api.randomuser.me/portraits/men/49.jpg -->
            <img ng-src="{{ profileImageUrl }}" alt="" class="center-block img-rounded img-responsive" style="margin-bottom: 10px;">
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item dropdown-toggle text-right" ng-if="joinedDate"><span class="pull-left"><strong>Joined</strong></span> {{ joinedDate }}</li>
        <li class="list-group-item dropdown-toggle text-right" ng-if="email"><span class="pull-left"><strong>Email</strong></span> {{ email }}</li>
        <!-- <li class="list-group-item dropdown-toggle text-right"><span class="pull-left"><strong>Expressions</strong></span> 2</li>
        <li class="list-group-item dropdown-toggle text-right"><span class="pull-left"><strong>Followers</strong></span> 15</li> -->
      </ul>
      <button type="button" class="btn btn-lg btn-primary pull-right" ng-click="enableEditor()">Edit Profile</button>
    </div>

    <!-- EDIT PROFILE VIEW -->
    <div ng-show="editorEnabled">
      <h2 class="text-center">Profile</h2>
      <br/>

      <!-- <h5><span class="label label-info">Profile picture</span></h5> -->

      <div class="row">
        <div class="col-xs-4 col-sm-3">
          <div ng-if="uploading"><i class="ion-ios7-reloading" style="font-size: 70px;"></i></div>
          <img ng-if="!uploading" ng-src="{{ profileImageUrl }}" alt="" class="center-block img-circle img-responsive" style="margin-bottom: 10px;">
        </div>
        <div class="col-xs-8 col-sm-9">
          <input name="file" type="file" file />
          <button type="button" class="btn btn-md btn-primary" ng-click="upload()">Upload new picture</button>
        </div>
      </div>

      <!-- Progress Bar -->
      <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
          {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
        </div>
      </div> -->

      <!-- <label>Upload Profile Image</label> <input type="file" ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
      <span data-ng-if="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
      <img ng-src="uploadedImage" ng-if="uploadedImage"> -->

      <!-- <h5><span class="label label-info">Email</span></h5> -->
      <form method="put" name="editForm">

        <div class="form-group has-feedback" ng-class="{ 'has-error' : editForm.email.$invalid && editForm.email.$dirty }">
          <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required
          ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
          <i class="ion-email form-control-feedback" style="font-size: 20px;"></i>
          <div class="help-block text-danger" ng-if="editForm.email.$dirty" ng-messages="editForm.email.$error">
            <div ng-message="required">Your email address is required.</div>
            <div ng-message="pattern">Your email address is invalid.</div>
          </div>
        </div>

        <!-- <button type="button" class="btn btn-sm btn-danger" data-animation="am-fade-and-slide-top" data-template="views/deleteaccountmodal.html" bs-modal="modal">
          Delete/Unlink Account
        </button> -->

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <button type="button" class="btn btn-lg btn-block btn-failure" ng-click="disableEditor()">Cancel</button>
          </div>
          <div class="col-xs-6 col-sm-6">
            <button type="button" class="btn btn-lg btn-block btn-success" ng-click="save()">Update profile</button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
