<!-- PROFILE VIEW -->
<div ng-hide="editorEnabled">
  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">Profile
      <div ng-show="currentUserId == userViewId && isAuthenticated" class="pull-right" style="line-height: 1px;">
        <i class="ion-ios7-gear" style="font-size: 20px;" ng-click="enableEditor()" data-placement="bottom" bs-tooltip="tooltipEditProfile"></i>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="profile-display-name hidden-xs">{{ displayName }}</div>
          <div class="profile-display-name visible-xs" style="font-size: 60px;">{{ displayName }}</div>

          <div ng-if="currentUserId !== userViewId && isAuthenticated">
            <div class="visible-xs">
              <center>
                <button type="button" ng-class="{ 'btn btn-danger btn-sm' : true, 'disabled' : !isFollowing }" ng-click="unfollowUser()">
                  <i class="ion-close"></i>&nbsp; Unfollow
                </button>
                <button type="button" ng-class="{ 'btn btn-info btn-sm' : true, 'disabled' : isFollowing }" ng-click="followUser()">
                  <i class="ion-plus"></i>&nbsp; Follow
                </button>
              </center>
            </div>
            <div class="hidden-xs">
              <button type="button" ng-class="{ 'btn btn-danger btn-xs' : true, 'disabled' : !isFollowing }" ng-click="unfollowUser()">
                <i class="ion-close"></i>&nbsp; Unfollow
              </button>
              <button type="button" ng-class="{ 'btn btn-info btn-xs' : true, 'disabled' : isFollowing }" ng-click="followUser()">
                <i class="ion-plus"></i>&nbsp; Follow
              </button>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <img ng-show="currentUserId !== userViewId || !isAuthenticated" ng-src="{{ avatarUrl }}"
            alt="" class="center-block img-rounded img-responsive" style="margin-bottom: 10px; border-radius: 10px;">

          <img ng-show="currentUserId === userViewId && isAuthenticated" ng-src="{{ avatarUrl }}"
            alt="" class="center-block img-rounded img-responsive"
            ng-click="enableEditor()" style="margin-bottom: 10px; border-radius: 10px;"
            data-placement="bottom" bs-tooltip="tooltipChangeAvatar">
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item dropdown-toggle text-right" ng-if="joinedDate">
          <span class="pull-left">
            <strong>Joined</strong>
          </span>
          {{ joinedDate }}
        </li>
        <li ng-show="currentUserId == userViewId && isAuthenticated && workingEmail" class="list-group-item dropdown-toggle text-right">
          <span class="pull-left">
            <strong>Email<i>(private)</i></strong>
          </span>
          {{ workingEmail }}
        </li>
        <li class="list-group-item dropdown-toggle text-right">
          <span class="pull-left">
            <strong>Following</strong>
          </span>
          <div ng-if="currentUserId == userViewId && isAuthenticated">
            <div ng-if="followingCount > 0">
              <button class="btn btn-xs btn-info" ng-click="viewFollowing(viewFollowingEnabled)">
                {{ followingCount }}
                <i class="ion-arrow-left-b" ng-show="!viewFollowingEnabled"></i>
                <i class="ion-arrow-down-b" ng-show="viewFollowingEnabled"></i>
              </button>
            </div>
            <div ng-if="followingCount <= 0">
              {{ followingCount }}
            </div>
          </div>
          <div ng-if="(currentUserId != userViewId || !isAuthenticated)">
            {{ followingCount }}
          </div>
          <div masonry reload-on-show ng-show="viewFollowingEnabled"
            style="margin-top: 30px;" column-width="150">
            <div class="masonry-brick" ng-repeat="user in following">
              <div class="brick" ng-click="go('/user/{{ user.id }}')">
                <img ng-src="{{ user.avatarUrl }}" style="margin-right: 10px;
                  -webkit-border-top-left-radius: 37px;
                  -webkit-border-bottom-left-radius: 37px;">
                <span style="padding-right: 15px;">
                  {{ user.displayName }}
                </span>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item dropdown-toggle text-right">
          <span class="pull-left">
            <strong>Followers</strong>
          </span>
          <div ng-if="currentUserId == userViewId && isAuthenticated">
            <div ng-if="followersCount > 0">
              <button class="btn btn-xs btn-info" ng-click="viewFollowers(viewFollowersEnabled)">
                {{ followersCount }}
                <i class="ion-arrow-left-b" ng-show="!viewFollowersEnabled"></i>
                <i class="ion-arrow-down-b" ng-show="viewFollowersEnabled"></i>
              </button>
            </div>
            <div ng-if="followersCount <= 0">
              {{ followersCount }}
            </div>
          </div>
          <div ng-if="(currentUserId != userViewId || !isAuthenticated)">
            {{ followersCount }}
          </div>
          <div masonry reload-on-show ng-show="viewFollowersEnabled"
            style="margin-top: 30px;" column-width="150">
            <div class="masonry-brick" ng-repeat="follower in followers">
              <div class="brick" ng-click="go('/user/{{ follower.id }}')">
                <img ng-src="{{ follower.avatarUrl }}" style="margin-right: 10px;
                  -webkit-border-top-left-radius: 37px;
                  -webkit-border-bottom-left-radius: 37px;">
                <span style="padding-right: 15px;">
                  {{ follower.displayName }}
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>


      <!-- vertical="true" -->
      <tabset style="margin-top: 30px; font-size: 13px;" justified="true">
        <tab>
          <tab-heading>
            <i class="ion-edit"></i>&nbsp; Poems
            <span ng-if="currentUserId === userViewId && isAuthenticated" class="badge profile-poem-badge">
              {{ poems.length + drafts.length }}
            </span>
            <span ng-if="currentUserId !== userViewId" class="badge profile-poem-badge">
              {{ poems.length }}
            </span>
          </tab-heading>
          <div ng-show="poems.length === 0 && drafts.length === 0" style="padding: 15px 20px 0 0; font-size: 20px;">
            You haven't created any poems yet. <i class="ion-happy" style="font-size: 25px"></i>
          </div>
          <!-- <div class="row"> -->
            <div ng-show="(poems.length > 0 || drafts.length > 0) &&
              currentUserId === userViewId && isAuthenticated" style="margin-top: 20px;">
              <a class="hidden-xs btn btn-sm btn-primary" target="_self" href="{{ pdfUrl }}"
                download="poems.pdf" >
                Download Poems as PDF
              </a>
              <a class="visible-xs btn btn-md btn-block btn-primary" target="_self" href="{{ pdfUrl }}"
                download="poems.pdf" >
                Download Poems as PDF
              </a>
            </div>
          <!-- </div> -->
          <div class="row">
            <div class="col-lg-6">
              <h3><u>Published</u></h3>
              <div ng-repeat="poem in poems" style="font-size: 20px; padding: 10px 20px 0 0;">
                {{ $index+1 }}.&nbsp; <a ng-href="/#!/poem/{{ poem.id }}">{{ poem.title }}</a>
              </div>
            </div>
            <div ng-if="currentUserId === userViewId && isAuthenticated" class="col-lg-6">
              <h3><u>Drafts</u></h3>
              <div ng-repeat="draft in drafts" style="font-size: 20px; padding: 10px 20px 0 0;">
                {{ $index+1 }}.&nbsp; <a ng-href="/#!/poem/{{ draft.id }}">{{ draft.title }}</a>
              </div>
            </div>
          </div>
        </tab>
        <tab ng-show="currentUserId == userViewId && isAuthenticated">
          <tab-heading>
            <i class="ion-android-forums"></i>&nbsp; Comments <span class="badge profile-comments-badge">{{ comments.length }}</span>
          </tab-heading>
          <div ng-show="comments.length === 0" style="padding: 15px 20px 0 0; font-size: 20px;">
            You haven't given anyone feedback yet. <i class="ion-happy" style="font-size: 25px"></i>
          </div>
          <div ng-repeat="comment in comments" style="font-size: 20px; padding: 15px 20px 0 0;">
            {{ $index+1 }}.&nbsp;
            <a ng-href="/#!/poem/{{ comment.poemId }}">"{{ comment.comment }}" <i><small>({{ comment.poemTitle }})</small></i></a>&nbsp;
            <i class="ion-close-circled" style="font-size: 20px; line-height: 0px;" ng-click="deleteComment(comment.poemId, comment.id)"></i>
          </div>
        </tab>
        <tab ng-show="currentUserId == userViewId && isAuthenticated">
          <tab-heading>
            <i class="ion-heart"></i>&nbsp; Favorites <span class="badge profile-favorite-poems-badge">{{ favoritePoems.length }}</span>
          </tab-heading>
          <div ng-show="favoritePoems.length === 0" style="padding: 15px 20px 0 0; font-size: 20px;">
            You haven't favorited any poems yet. <i class="ion-happy" style="font-size: 25px"></i>
          </div>
          <div ng-repeat="favoritePoem in favoritePoems" style="font-size: 20px; padding: 15px 20px 0 0;">
            {{ $index+1 }}.&nbsp; <a ng-href="/#!/poem/{{ favoritePoem.id }}">{{ favoritePoem.title }}</a>
          </div>
        </tab>
        <tab ng-show="currentUserId == userViewId && isAuthenticated">
          <tab-heading>
            <i class="ion-alert"></i>&nbsp; New feedback <span class="badge profile-unread-comments-badge">{{ unreadComments.length }}</span>
          </tab-heading>
          <div ng-show="unreadComments.length === 0" style="padding: 15px 20px 0 0; font-size: 20px;">
            You have no new feedback. <i class="ion-happy" style="font-size: 25px"></i>
          </div>
          <div ng-repeat="unreadComment in unreadComments" style="font-size: 20px; padding: 15px 20px 0 0;">
            {{ $index+1 }}.&nbsp;
            <a ng-href="/#!/poem/{{ unreadComment.poemId }}">"{{ unreadComment.comment }}" <i><small>({{ unreadComment.poemTitle }})</small></i></a>&nbsp;
            <i class="ion-checkmark-circled" style="font-size: 20px; line-height: 0;" ng-click="markCommentAsRead(unreadComment.poemId, unreadComment.id)"></i>&nbsp;
            <i class="ion-close-circled" style="font-size: 20px; line-height: 0;" ng-click="deleteComment(unreadComment.poemId, unreadComment.id, true)"></i>
          </div>
        </tab>
        <tab ng-show="currentUserId == userViewId && isAuthenticated">
          <tab-heading>
            <i class="ion-alert"></i>&nbsp; New poems <span class="badge profile-unread-poems-badge">{{ unreadFollowingPoems.length }}</span>
          </tab-heading>
          <div ng-show="unreadFollowingPoems.length === 0" style="padding: 15px 20px 0 0; font-size: 20px;">
            The users you're following haven't written anything new. <i class="ion-happy" style="font-size: 25px"></i>
          </div>
          <div ng-repeat="unreadPoem in unreadFollowingPoems" style="font-size: 20px; padding: 15px 20px 0 0;">
            {{ $index+1 }}.&nbsp;
            <a ng-href="/#!/poem/{{ unreadPoem.id }}">{{ unreadPoem.title }}</a>&nbsp;
            <i class="ion-checkmark-circled" style="font-size: 20px; line-height: 0;" ng-click="markPoemAsRead(unreadPoem.id)"></i>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- EDIT PROFILE VIEW -->
<div ng-show="editorEnabled">
  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">Edit Profile</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4 col-sm-3">
          <div ng-if="uploading"><i class="ion-ios7-reloading" style="font-size: 80px;"></i></div>
          <img ng-if="!uploading" ng-src="{{ avatarUrl }}" alt=""
            class="center-block img-rounded img-responsive" style="margin-bottom: 10px; border-radius: 10px;">
        </div>
        <div class="col-xs-8 col-sm-9">
          <h4>Upload new avatar</h4>
          <span class="btn btn-sm btn-info btn-file">
            Browse... <input type="file" ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg, image/jpg, image/gif">
          </span>
          &nbsp;<small>Only PNG, GIF, JPG, and JPEG are allowed.</small>
        </div>
      </div>

      <!-- OVERKILL -->
      <!-- <div class="row">
        <div class="col-xs-4 col-sm-3">
          <div ng-if="uploading"><i class="ion-ios7-reloading" style="font-size: 80px;"></i></div>
          <img ng-if="!uploading" ng-src="{{ avatarUrl }}" alt="" class="center-block img-rounded img-responsive" style="margin-bottom: 10px;">
        </div>
        <div class="col-xs-8 col-sm-9">
          <input name="file" type="file" file />
          <button type="button" class="btn btn-md btn-primary" style="margin-top: 10px;" ng-click="upload()">Upload new avatar</button>
        </div>
      </div> -->

      <form method="put" name="editForm">
        <div class="form-group" ng-class="{ 'has-error' : editForm.email.$invalid && editForm.email.$dirty }">
          <h4><i class="ion-at"></i> Email Address</h4>
          <input class="form-control input-md" type="email" id="email" name="email" ng-model="email" placeholder="Email" required
          ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
          <div class="help-block text-danger" ng-if="editForm.email.$dirty" ng-messages="editForm.email.$error">
            <div ng-message="required">Your email address is required.</div>
            <div ng-message="pattern">Your email address is invalid.</div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <button type="button" class="btn btn-md btn-block btn-default" ng-click="disableEditor()">Back</button>
        </div>
        <div class="col-xs-6 col-sm-6">
          <button type="button" class="btn btn-md btn-block btn-success" ng-click="save()">Update profile</button>
        </div>
      </div>

      <hr>

      <button type="button" class="btn btn-sm btn-danger" data-animation="am-fade-and-slide-top"
        data-template="views/deleteaccountmodal.html" bs-modal="modal">
        <i class="ion-close"></i>&nbsp; Delete/Unlink Account
      </button>
    </div>
  </div>
</div>