<!-- PROFILE VIEW -->
<div ng-hide="editorEnabled">
  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">Profile
      <div ng-show="currentUserId == userViewId" class="pull-right" style="line-height: 1px;">
        <i class="ion-ios7-gear" style="font-size: 20px;" ng-click="enableEditor()" data-placement="bottom" bs-tooltip="tooltipEditProfile"></i>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h2 class="profile-display-name">{{ displayName }}</h2>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img ng-show="currentUserId !== userViewId || !isAuthenticated" ng-src="{{ avatarUrl }}"
            alt="" class="center-block img-rounded img-responsive" style="margin-bottom: 10px;">
          <img ng-show="currentUserId === userViewId && isAuthenticated" ng-src="{{ avatarUrl }}"
            alt="" class="center-block img-rounded img-responsive"
            ng-click="enableEditor()" style="margin-bottom: 10px;"
            data-placement="bottom" bs-tooltip="tooltipChangeAvatar">
        </div>
      </div>

      <ul class="list-group" style="margin-bottom: 10px;">
        <li class="list-group-item dropdown-toggle text-right" ng-if="joinedDate">
          <span class="pull-left"><strong>Joined</strong></span>{{ joinedDate }}
        </li>
        <li ng-show="currentUserId == userViewId" class="list-group-item dropdown-toggle text-right" ng-if="email">
          <span class="pull-left"><strong>Email <i>(private)</i></strong></span>{{ workingEmail }}
        </li>
        <!-- <li class="list-group-item dropdown-toggle text-right"><span class="pull-left"><strong>Followers</strong></span> ___</li> -->
      </ul>
      <!-- <button ng-show="currentUserId == userViewId" type="button" class="btn btn-md btn-primary pull-right"
        ng-click="enableEditor()" style="margin-bottom: 10px;">Edit Profile</button> -->

      <tabset justified="true">
        <tab>
          <tab-heading>
            <i class="ion-edit"></i>&nbsp; Poems <span class="badge">{{ poems.length }}</span>
          </tab-heading>
          <div ng-repeat="poem in poems" style="font-size: 20px; padding-top: 5px;">
            {{ $index+1 }}.&nbsp; <a ng-href="/#!/poem/{{ poem.id }}">{{ poem.title }}</a>
          </div>
        </tab>
        <tab ng-show="currentUserId == userViewId">
          <tab-heading>
            <i class="ion-android-forums"></i>&nbsp; Comments <span class="badge">{{ comments.length }}</span>
          </tab-heading>
          <div ng-repeat="comment in comments" style="font-size: 20px; padding-top: 5px;">
            {{ $index+1 }}.&nbsp;
            <a ng-href="/#!/poem/{{ comment.poemId }}">"{{ comment.comment }}" <i><small>({{ comment.poemTitle }})</small></i></a>&nbsp;
            <i class="ion-close-round" style="font-size: 20px; line-height: 0px;" ng-click="deleteComment(comment.poemId, comment.id)"></i>
          </div>
        </tab>
        <tab ng-show="currentUserId == userViewId">
          <tab-heading>
            <i class="ion-heart"></i>&nbsp; Favorite poems <span class="badge">{{ favoritePoems.length }}</span>
          </tab-heading>
          <div ng-repeat="favoritePoem in favoritePoems" style="font-size: 20px; padding-top: 5px;">
            {{ $index+1 }}.&nbsp; <a ng-href="/#!/poem/{{ favoritePoem.id }}">{{ favoritePoem.title }}</a>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- EDIT PROFILE VIEW -->
<div ng-show="editorEnabled">
  <div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">Edit Profile</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4 col-sm-3">
          <div ng-if="uploading"><i class="ion-ios7-reloading" style="font-size: 80px;"></i></div>
          <img ng-if="!uploading" ng-src="{{ avatarUrl }}" alt=""
            class="center-block img-rounded img-responsive" style="margin-bottom: 10px;">
        </div>
        <div class="col-xs-8 col-sm-9">
          <h4>Upload new avatar</h4>
          <input type="file" ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
        </div>
      </div>

      <!-- OVERKILL -->
      <!-- <div class="row">
        <div class="col-xs-4 col-sm-3">
          <div ng-if="uploading"><i class="ion-ios7-reloading" style="font-size: 80px;"></i></div>
          <img ng-if="!uploading" ng-src="{{ avatarUrl }}" alt="" class="center-block img-rounded img-responsive" style="margin-bottom: 10px;">
        </div>
        <div class="col-xs-8 col-sm-9">
          <input name="file" type="file" file />
          <button type="button" class="btn btn-md btn-primary" style="margin-top: 10px;" ng-click="upload()">Upload new avatar</button>
        </div>
      </div> -->

      <form method="put" name="editForm">
        <div class="form-group" ng-class="{ 'has-error' : editForm.email.$invalid && editForm.email.$dirty }">
          <h4><i class="ion-at"></i> Email Address</h4>
          <input class="form-control input-md" type="email" id="email" name="email" ng-model="email" placeholder="Email" required
          ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
          <div class="help-block text-danger" ng-if="editForm.email.$dirty" ng-messages="editForm.email.$error">
            <div ng-message="required">Your email address is required.</div>
            <div ng-message="pattern">Your email address is invalid.</div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <button type="button" class="btn btn-md btn-block btn-default" ng-click="disableEditor()">Back</button>
        </div>
        <div class="col-xs-6 col-sm-6">
          <button type="button" class="btn btn-md btn-block btn-success" ng-click="save()">Update profile</button>
        </div>
      </div>

      <hr>

      <button type="button" class="btn btn-sm btn-danger" data-animation="am-fade-and-slide-top"
        data-template="views/deleteaccountmodal.html" bs-modal="modal">
        <i class="ion-close-round"></i>&nbsp; Delete/Unlink Account
      </button>
    </div>
  </div>
</div>