<div class="center-form panel">
  <div class="panel-body">
    <h2 class="text-center">Sign up</h2>

    <span spinner-key="signup-spinner" us-spinner="{lines: 17, length: 0, width: 6, radius: 17, corners: 0.7, rotate: 0, trail: 50, speed: 1.0, direction: 1, shadow: on, hwaccel: on}"></span>

    <form method="post" ng-submit="signUp()" name="signupForm" novalidate>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
        <input class="form-control input-lg" type="text" name="displayName" ng-model="displayName" placeholder="Username" required autofocus>
        <i class="ion-person form-control-feedback" style="padding: 10px; font-size: 20px;"></i>
        <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
          <div ng-message="required">You must enter a username.</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
        <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required
        ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
        <i class="ion-email form-control-feedback" style="padding: 10px; font-size: 20px;"></i>
        <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
          <div ng-message="required">Your email address is required.</div>
          <div ng-message="pattern">Your email address is invalid.</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
        <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
        <i class="ion-key form-control-feedback" style="padding: 10px; font-size: 20px;"></i>
        <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
          <div ng-message="required">Password is required.</div>
        </div>
      </div>

      <div class="form-group has-feedback" ng-class="{ 'has-success' : signupForm.confirmPassword.$valid && signupForm.confirmPassword.$dirty, 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
        <input class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" repeat-password="password" placeholder="Confirm Password" required>
        <div class="form-control-feedback" ng-if="signupForm.confirmPassword.$valid">
          <i class="ion-locked form-control-feedback" style="padding: 5px; font-size: 20px;"></i>
        </div>
        <div class="form-control-feedback" ng-if="signupForm.confirmPassword.$invalid">
          <i class="ion-unlocked form-control-feedback" style="padding: 5px; font-size: 20px;"></i>
        </div>
        <div class="help-block text-danger my-special-animation"
             ng-if="signupForm.confirmPassword.$dirty"
             ng-messages="signupForm.confirmPassword.$error">
          <div ng-message="required">You must confirm password.</div>
          <div ng-message="repeat">Passwords do not match.</div>
        </div>
      </div>

      <div class="form group">
        <input type="checkbox" name="stayLoggedIn" ng-model="stayLoggedIn">
        Stay logged in
        <br />
        <p class="text-muted">
          <small>Log out when you're done.</small>
          <button type="button" class="btn-text-link" data-placement="right" title="{{popover.title}}" data-content="{{popover.content}}" bs-popover>
            <small>Learn more</small>
          </button>
        </p>
      </div>

      <p class="text-center text-muted"><small>By clicking on Sign up, you agree to our <a ng-href="/#!/terms">terms</a> and <a ng-href="/#!/privacy">privacy policy</a>.</small></p>

      <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button>
      <br/>

      <p class="text-center text-muted">Already have an account? <a ng-href="/#!/login">Log in now</a></p>
    </form>
  </div>
</div>